<div class="video">
  <h1 class="tittle mt-5">Movie adaptations</h1>
  <p class="text">
    The pupularity of superheroes has reached a new height, thanks to new Movie
    adaptations of various comics, here is a trailer for one of our next
    adaptations, Thor: Love and Thunder, where following the events of Avengers:
    Endgame (2019), Thor attempts to find inner peace, but must return to action
    and recruit Valkyrie, Korg, and Jane Foster—who has become the Mighty
    Thor—to stop Gorr the God Butcher from eliminating all the gods.
  </p>
  <iframe
    width="560"
    height="315"
    [src]="video | domseguro: 'https://www.youtube.com/embed/'"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>
